body {
  padding-top: 56px;
  font-size: 14px;
  font-family: robotoRegular;
}

p {
 margin-bottom: 20px !important;
 color: #4A4A4A;
}

.carousel-item {
  height: 80vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.scrolled {
    background: rgba(204, 204, 204, 0) !important;
}

.mfp-img {
    cursor: pointer;
}

.mfp-force-scrollbars.mfp-wrap {
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.mfp-force-scrollbars .mfp-img {
  max-width: none;
}

.mfp-force-scrollbars .mfp-close {
  position: fixed;
} 

.margin-negative-15 {
  margin-left: -15px;
  margin-right: -15px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media only screen and (max-width: 2560px) and (min-width: 769px) {
  .secondary-row {
    margin-right: 3rem!important;
  }

  .secondary-col {
    margin-right: 3rem!important;
    padding: 0 0;
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
  }

  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .primary-row {
    margin-bottom: 0px!important;
  }
  .secondary-row {
    margin-right: -15px;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }

  .secondary-col {
    margin-right: 0;
    padding: 0px 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100% !important;
  }

  [class*="row"] {
    margin: 0 0;
  }

  .margin-negative-15 {
    margin: 0;
  }

  .section-6-6-container,
  .section-7-1-4-container,
  .section-3-3-3-3-container,
  .section-3-3-6-container,
  .section-5-1-6-container {
    padding: 0 !important;
  }

  .section-6-6-title,
  .section-7-1-4-title,
  .section-3-3-3-3-title,
  .section-3-3-6-title,
  .section-5-1-6-title {
    justify-content: center!important;
  }

  /* .section-carousel {
    padding: 0 !important;
  } */

  /* .section-video {
    padding: 0 !important;
  } */
}

.homepage-main-block-one,
.homepage-main-block-three,
.homepage-main-block-four,
.homepage-main-block-five,
.homepage-main-block-six {
  transition: 0.3s;
}

.homepage-main-block-one:hover {
  border: 20px solid #2980FF;
}

.homepage-main-block-three:hover {
  border: 20px solid #E63238;
}

.homepage-main-block-four:hover {
  border: 20px solid #185D57;
}

.homepage-main-block-five:hover {
  border: 20px solid #F8E71C;
}

.homepage-main-block-six:hover {
  border: 20px solid #1A1F71;
}

.my-resume-link:hover{
  text-decoration: none;
}

.roboto-bold {
  font-family: robotoBold;
}

.roboto-italic {
  font-family: robotoItalic;
}

.w-5 {
  width: 5%!important;
}

.w-40 {
  width: 40%!important;
}

.w-55 {
  width: 55%!important;
}
.w-70 {
  width: 70%!important;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}