.scrolled {
    background: rgba(204, 204, 204, 0) !important;
}

.mfp-img {
    cursor: pointer;
  }
  .mfp-force-scrollbars.mfp-wrap {
    overflow-y: auto !important;
    overflow-x: auto !important;
  }
  .mfp-force-scrollbars .mfp-img {
    max-width: none;
  }
  .mfp-force-scrollbars .mfp-close {
    position: fixed;
  } 